# Directories
.github
.vscode
coverage
examples
node_modules
scripts
test

# Files
.auto-changelog
.eslintignore
.eslintrc.json
.gitattributes
.gitignore
.npmignore
babel.config.cjs
changelog.hbs
jest.config.ts
package-lock.json
tsconfig.*

