# Directories
.github
.vscode
coverage
examples
node_modules
scripts
test

# Files
.eslintignore
.eslintrc
.gitattributes
.gitignore
.npmignore
.prettierrc
babel.config.js
jest.config.js
package-lock.json
tsconfig.*

